@import "tailwindcss";
/* Global Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f7f0;
}

::-webkit-scrollbar-thumb {
  background: #a3e635; /* Soft green accent */
  background-color: #059669; /* Sleek emerald tone */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #047857; /* Darker emerald on hover */
}